/* DEBUG STYLES */
.michael-tooltip {
    position: absolute;
    z-index: 999999 !important;
    background: #fff;
    border: 3px solid red !important;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.michael-avatar {
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}